.item-carousel {
  padding: 3rem 0rem 3rem 1rem;
  position: relative;
  margin: 0 auto;
  margin-bottom: 65px;
  max-width: 1168px;
}
.item-carousel header {
  display: flex;
  position: relative;
  overflow: hidden;
}
.item-carousel header h2 {
  position: relative;
}

.item-carousel header h2::after {
  content: "";
  position: absolute;
  left: calc(100% + 22px);
  top: calc(50% - 1.5px);
  height: 3px;
  width: 100vw;
  background-color: #832612;
}

.item-carousel-title {
  margin-bottom: 2rem;
}

.carousel-container {
  position: relative;
  height: auto;
  overflow: hidden;
  max-width: 100%;
}

#carousel-line {
  display: flex;
  gap: 1rem;
}
.anim-normal {
  transition: transform 0.5s ease;
  /* transition: transform step-end; */
}

.carousel_item {
  flex: 0 0 21%; /* 4 items fully shown*/
  text-align: center;
}

.carousel_item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 1rem;
}

.carousel_item p {
  margin-top: 0.5rem;
  font-weight: bold;
}

.carousel-btn {
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}
.carousel-btn svg {
  width: 36px;
  height: 34px;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}
