.title_bg {
  display: flex;
  padding: 10px 100px 10px 100px;
  align-items: center;
}
.white_bg {
  display: flex;
  padding: 10px 100px 10px 100px;
  align-items: center;
  justify-content: space-around;
}
.pink_bg {
  background-color: #fff3e0;
  display: flex;
  padding: 10px 100px 10px 100px;
  align-items: center;
  justify-content: space-around;
}
.inside_element {
  margin-right: 70px;
  max-width: 600px;
}
.inside_element_names {
  max-width: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
