.recipe-page-layout {
  display: flex;
  gap: 90px;
  margin: 40px 100px;
  align-items: flex-start;
}

/* Left side */
.left-column {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-image-box img {
  width: 34%;
  border-radius: 12px;
}

/* Extra tip */
.extra-tip-box {
  background-color: #fff1e6;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

.extra-tip-box h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}


/* Directions */
.directions-block {
  background-color: #fff1e6;
  padding: 20px;
  border-radius: 12px;
}

/*The idea to use css selector for ids was taken from here: https://www.w3schools.com/css/css_selectors.asp */
/* Fix step number being outside the box */
#directions-container {
  list-style: none;
  padding-left: 0;
  /* The way how to use counter-reset was taken from here: https://www.youtube.com/watch?v=UKzXaztdeCc&ab_channel=RapidTutor */
  counter-reset: step-counter;
}

#directions-container li {
  counter-increment: step-counter;
  position: relative;
  padding: 20px 20px 20px 60px;
  margin-bottom: 25px;
  border-radius: 15px;
}

#directions-container li strong {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  line-height: 1.4;
}

#directions-container li::before {
  content: counter(step-counter) ".";
  position: absolute;
  top: 20px;
  left: 20px;
  font-weight: bold;
  font-size: 1.3rem;
}

/* Right side */
.right-column {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Buttons */
.serving-buttons {
  margin-bottom: 15px;
}

.serving-buttons button {
  margin-right: 10px;
  padding: 6px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  background-color: #ffe6cc;
  cursor: pointer;
}

.serving-buttons button:hover {
  background-color: #ffcc99;
}



#detailed-recipe-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

#directions-container li img {
  width: 30%; 
  border-radius: 12px;
  margin-top: 10px;
  display: block;
}


/* Nutrition and Ingredients */
.nutrition-ingredients-box {
  background-color: #fff1e6;
  padding: 20px 30px;
  border-radius: 12px;
}

.nutrition-ingredients {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.nutrition,
.ingredients {
  flex: 1;
}

.nutrition h3,
.ingredients h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

/* Sidebar blocks */
.sidebar-block {
  background-color: #fff1e6;
  border-radius: 15px;
  padding: 20px;
}

.sidebar-block h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.sidebar-block a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
  transition: background 0.2s ease;
}

.sidebar-block a:hover {
  background-color: #ffe6cc;
}

.sidebar-block img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 10px;
}

.sidebar-block ul {
  list-style: none;
  padding: 0;
}

.sidebar-block li {
  margin-bottom: 10px;
}
