body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}
.main {
  padding: 0;
}

.profile-wrapper {
  background-color: #fff3e0;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 1148px;
  height: 425px;
}

h1 {
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 8px;
}
