a {
  text-decoration: none;
  color: black;
}

.recipes-and-filters-container {
  display: flex;
  padding: 15rem 20px 20px 20px !important; 
  gap: 100px;
}


.recipes-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(1fr);
}

/* Checkboxes color*/
input[type="checkbox"] {
  accent-color: var(--decoration-color);
}

/* Filter groups in the sidebar */
.filter-section {
  flex: 0 0 200px;
  font-size: 14pt;
}

.filter-section h2 {
  margin-top: 0;
  font-size: 1.7rem;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h3 {
  margin-bottom: 10px;
}

.filter-group div {
  margin-bottom: 8px;
}

.recipe {
  text-align: start;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.recipe img {
  width: 100%;
  border-radius: 5px;
}



/* Hover over animation for the recipes*/
/* Image transitions */
.recipe-1 {
  transition: opacity 0.4s ease-in-out;
}

.recipe-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.recipe:hover .recipe-1 {
  opacity: 0;
}

.recipe:hover .recipe-2 {
  opacity: 1;
}

/* Recipe title */
.recipe-title {
  font-size: 16pt;
  display: block;
  margin-bottom: 0.5rem;
}

/* Rating + time */
.recipe-description {
  font-size: 14pt;
  color: #555;
  line-height: 1.4;
}


/* Responsiveness */
@media screen and (min-width: 1030px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr); 
  }
  .recipes-and-filters-container {
  display: flex;
  padding: 15rem 20px 20px 20px !important; 
  gap: 100px;
}
}
@media screen and (min-width: 1500px) {
  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1800px) {
  .recipes-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .recipes-and-filters-container {
    flex-direction: column;
    padding: 0 !important; 
  }
  .filter-section {
    margin-bottom: 20px;
  }
  .recipes-container {
    grid-template-columns: repeat(1, 1fr);
  }
}