/* Responsiveness */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: 135px;
  margin: 0;
}

@media screen and (max-width: 1168px) {
  body {
    min-width: 1168px;
  }
}

@media (max-width: 1030px) {
  .about-bp-inner {
    display: block;
  }
  .bp-text {
    margin-bottom: 2rem;
  }

  .member-p,
  .trending_text_content {
    font-size: 20pt;
  }
  .bp-text p,
  .header-text,
  .header-team,
  .learn-button,
  .member-h3,
  .category-name {
    font-size: 22pt;
  }
  .footer-col .details {
    font-size: 24pt;
  }
  .carousel_text,
  .txt_header,
  #searchbar_Input,
  #searchbar_section figcaption,
  .footer-col li {
    font-size: 26pt;
  }
  .h1_title,
  .h4_footer {
    font-size: 40pt;
  }

  .learn-button {
    padding: 34px 72px;
  }
  .carousel_item {
    flex: 0 0 41%;
  }
  #icon-switch {
    width: 60px;
  }
  .carousel-btn {
    padding: 1.5rem;
  }
  .carousel-btn svg {
    width: 76px;
    height: 74px;
  }
  .cat-inner {
    grid-auto-columns: 320px;
  }
  .footer-container {
    display: block;
  }
  .solo_img {
    min-width: 200px;
  }
  .ul_header_logo img {
    min-width: 500px;
  }
  .main {
    padding-top: 340px;
  }
  .footer-col .details {
    max-width: 800px;
    line-height: 1.2;
  }
  .footer-col li {
    line-height: 1.4;
  }
  .nav_header {
    grid-template-columns: repeat(1, 1fr);
  }

  .ul_header_logo {
    justify-content: center;
  }
}

@media screen and (max-width: 1270px) {
  .trending_header {
    left: 12px;
    top: -12px;
  }
}
