#searchbar_section {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
}

#searchbar_section figcaption {
  border: 2px solid #832612;
  border-radius: 20px;
  margin-top: -1px; /* Prevent double borders */
  background-color: #ffd89a;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#searchbar_section figcaption:hover:not(.header) {
  background-color: #ecc687;
}
#searchbar_section figure {
  margin: 3px 0px 0px 0px;
}
#searchbar_Input {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  /* width: 100%; */
  font-size: 16px;
  padding: 15px 20px 15px 10px;
  border: 1px solid #dc9e3b;
  margin-top: 10px;
  background-color: #dc9e3b;
  border-radius: 10px;
}

#searchbar_div ::placeholder {
  color: #832612;
  opacity: 40%;
}

.website {
  text-decoration: none;
  color: black;
}
.website figcaption {
  min-width: 100px;
  max-width: 300px;
}

.searchbar_button {
  border: none;
  padding: 0;
  background-color: #ffd89a;
  margin-top: 10px;
}
.searchbar_button:hover {
  cursor: pointer;
}
