:root {
  --accent-color: #ffdfac;
  --base-color: white;
  --text-color: black;
  --input-color: #fff3e0;
}

* {
  margin: 0;
  padding: 0;
}
.main {
  padding: 0;
}
html {
  font-family: "Aeonik-Regular";
  src: url(../Aeonik-Regular.ttf);
  font-size: 14pt;
  color: var(--text-color);
}

#header-text {
  font-family: "redaction-35", arial, sans-serif;
  src: url(../redaction-35-latin-700-normal.ttf);
  font-size: 48pt;
  color: var(--text-color);
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  background-color: var(--input-color);
  min-height: 200vh;
  width: max(800px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  border-radius: 10px 0 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  box-sizing: border-box;
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1em;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--accent-color);
  border-left: none;
  background-color: var(--base-color);
  transition: 100ms ease;
}

form input:hover {
  border: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--text-color);
}

div:has(input:focus) > label {
  background-color: var(--text-color);
}

form input::placeholder {
  color: var(--text-color);
}

form button {
  margin-top: 10px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

form button:hover {
  background-color: var(--text-color);
}

form button:focus {
  outline: none;
  background-color: var(--text-color);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1000px) {
  .wrapper {
    width: max(400px, 100%);
  }
}
