:root {
  --accent-color: #ffdfac;
  --base-color: white;
  --text-color: black;
  --input-color: #fff3e0;
}

* {
  margin: 0;
  padding: 0;
}

.main {
  padding: 0;
}
html {
  font-family: "Aeonik-Regular";
  src: url(../Aeonik-Regular.ttf);
  font-size: 14pt;
  color: var(--text-color);
}

#header-text {
  font-family: "redaction-35", arial, sans-serif;
  src: url(../redaction-35-latin-700-normal.ttf);
  font-size: 48pt;
  color: var(--text-color);
  text-align: center;
  margin-top: 50px;
}

#subhead-text {
  color: var(--text-color);
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 40px;
}

#normal-text {
  font-family: "Aeonik-Regular";
  src: url(../Aeonik-Regular.ttf);
  font-size: 20pt;
  color: var(--text-color);
  text-align: center;
  margin-top: 50px;
}

.sectioning-image {
  display: grid;
  grid-template-columns: 1fr 800px 1fr;

  width: max(800px);
}
.general-image {
  margin: 0 auto;
  max-width: 1380px;
}
.uni-1 {
  align-content: center;
  padding: 0;
  margin: 0;
  margin-right: -32px;
}
.uni-2 {
  align-content: center;
  padding: 0;
  margin: 0;
}
.wrapper {
  background-color: var(--input-color);
  min-height: 200vh;
  /* width: max(800px); */
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}

form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form textarea {
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 60px;
  height: 170px;
  padding: 1em;
  font: inherit;
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  background-color: var(--base-color);
  transition: 100ms ease;
}

form input {
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 60px;
  height: 70px;
  padding: 1em;
  font: inherit;
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  background-color: var(--base-color);
  transition: 100ms ease;
}

#smaller-area {
  box-sizing: border-box;
  flex-grow: 1;
  margin-left: 60px;
  height: 70px;
  padding: 1em;
  font: inherit;
  border-radius: 10px;
  border: 2px solid var(--accent-color);
  background-color: var(--base-color);
  transition: 100ms ease;
}

form input:hover {
  border: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--text-color);
}

#sug-button {
  margin-left: 60px;
  border: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

#image-preview {
  margin-top: 10px;
  margin-left: 60px;
  margin-bottom: 60px;
}

#preview {
  display: none;
  max-width: 200px;
  border: 1px solid #ccc;
}

#sug-button:hover {
  background-color: var(--text-color);
}

#sug-button:focus {
  outline: none;
  background-color: var(--text-color);
}

@media (max-width: 1000px) {
  .test {
    width: max(400px, 100%);
  }
}
@media screen and (max-width: 1348px) {
  body {
    min-width: 1348px !important;
  }
}
/* @media (max-width: 1030px) {
  .uni1,
  .uni2 {
    display: none;
  }
} */
